<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>GeoSnap - Upload Image</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="navbar">
  <a href="/upload">Upload Image</a>
  <a href="/image">View All Images</a>
</div>
<div class="container">
  <h1>Welcome to GeoSnap</h1>
  <p>GeoSnap is a web application that enables users to upload images and associate them with geographic metadata, such as latitude and longitude. This application can be beneficial for photographers, travelers, or anyone who wants to document their experiences with geographical context.</p>

</div>
</body>
</html>
