<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>GeoSnap - Image List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="navbar">
  <a href="/geoSnap">About</a>
  <a href="/upload">Upload Image</a>
</div>
<div class="container" style="width:100%">
  <h1>Uploaded Images</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="image : ${imageList}">
      <td th:text="${image.id}">ID</td>
      <td><img th:src="${#strings.replace(image.filePath, 'dl=0', 'raw=1')}" th:alt="${image.name}"></td>
      <td th:text="${image.latitude}">Latitude</td>
      <td th:text="${image.longitude}">Longitude</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
