<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GeoSnap - Upload Image</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="navbar">
    <a href="/geoSnap">About</a>
    <a href="/image">View All Images</a>
</div>
<div class="container">
    <h1>Let's upload!</h1>
    <form action="#" th:action="@{/api/image/upload}" th:method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Choose Image:</label>
            <input type="file" id="file" name="file" required>
        </div>
        <div>
            <label for="latitude">Latitude:</label>
            <input type="text" id="latitude" name="latitude" placeholder="e.g., 40.7128" required>
        </div>
        <div>
            <label for="longitude">Longitude:</label>
            <input type="text" id="longitude" name="longitude" placeholder="e.g., -74.0060" required>
        </div>
        <div>
            <button type="submit">Upload</button>
        </div>
    </form>
</div>
</body>
</html>
